<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gin</key>
	<array>
		<dict>
			<key>name</key>
			<string>青い珊瑚礁</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>グリーン・ペパーミント・リキュール</string>
				<string>マラスキーノ・チェリー</string>
				<string>レモン</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>20ml</string>
				<string>1個</string>
				<string>ハーフカットのものを用いる</string>
			</array>
			<key>processes</key>
			<array>
				<string>カクテル・グラスのエッジ（縁のこと）をレモンで軽く濡らす。</string>
				<string>材料をシェイクしグラスに注ぐ。</string>
				<string>チェリーをグラスの底へ沈める。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>アカシア</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン:ベネクティン</string>
				<string>キルシュワッサー</string>
			</array>
			<key>amounts</key>
			<array>
				<string>3:1</string>
				<string>drop または 2dash</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ベネディクティン、キルシュワッサーをシェークして、カクテル・グラス（容量75〜90ml程度）に注げば完成である。</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
