<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gin</key>
	<array>
		<dict>
			<key>name</key>
			<string>ヴェスパー</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ウォッカ</string>
				<string>リレ・ブラン</string>
				<string>レモンの果皮</string>
			</array>
			<key>amounts</key>
			<array>
				<string>90ml</string>
				<string>30ml</string>
				<string>15ml</string>
				<string>飾り用</string>
			</array>
			<key>processes</key>
			<array>
				<string>ジン、ウォッカ、リレ・ブランを加え氷で冷たくなるまでシェイクし、深めのシャンパン・グラスに注ぎ、ラセン状に剥いたレモンの皮を入れる。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>オレンジ・ブロッサム</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>オレンジジュース</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>20ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>シェイカーに材料を全て入れ、シェイクし、カクテル・グラスに注ぐ。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>キッス・イン・ザ・ダーク</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ドライ・ベルモット</string>
				<string>チェリー・ブランデー</string>
			</array>
			<key>amounts</key>
			<array>
				<string>20ml</string>
				<string>20ml</string>
				<string>20ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ドライ・ベルモット、チェリー・ブランデーを、ミキシング・グラスでステアして、カクテル・グラス（容量75～90ml程度）に注げば完成。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ジン・バック</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>レモンジュース</string>
				<string>ジンジャーエール</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>20ml</string>
				<string>適量</string>
			</array>
			<key>processes</key>
			<array>
				<string>氷を入れたグラスにジンとレモンジュースを注ぎ、冷えたジンジャーエールで満たし、軽くステア。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ジン・フィズ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>レモンジュース</string>
				<string>砂糖</string>
				<string>炭酸水</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>15〜20ml</string>
				<string>2tsp</string>
				<string>適量</string>
			</array>
			<key>processes</key>
			<array>
				<string>シェイカーにソーダ水以外の材料と氷を入れ、シェイクし、上記を氷を入れたタンブラー（容量240ml程度、または、300ml程度）に注ぎ、ソーダ水を加え、ステア。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>トム・コリンズ</string>
			<key>materials</key>
			<array>
				<string>オールド・トム・ジン</string>
				<string>レモンジュース</string>
				<string>砂糖</string>
				<string>炭酸水</string>
				<string>レモンスライス</string>
				<string>マラスキーノ・チェリー</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>15〜20ml</string>
				<string>2tsp</string>
				<string>適量</string>
				<string>1枚</string>
				<string>1つ</string>
			</array>
			<key>processes</key>
			<array>
				<string>シェイカーにジン、レモンジュース、砂糖と氷を入れ、シェイクし、上記を氷を入れたコリンズ・グラス（通常のロングドリンクに使われるのは8オンスタンブラーだが、10オンス～14オンス入る、より背が高く細長いグラス）に注ぎ、炭酸水を加え、軽くステア.カクテルピックに刺したレモン・スライスとマラスキーノ・チェリーを飾る。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>バロン</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ドライ・ベルモット</string>
				<string>オレンジ・キュラソー</string>
				<string>スイート・ベルモット</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>20ml</string>
				<string>6ml</string>
				<string>2ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ドライ・ベルモット、オレンジ・キュラソー、スイート・ベルモットをシェークして、カクテル・グラス（容量75～90ml程度）に注げば完成。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ビーズ・ニーズ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>レモンジュース</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>10ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、レモン・ジュース、蜂蜜を強くシェークして、カクテル・グラス（容量75～90ml程度）に注げば完成。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ピンク・ジン</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>アンゴスチュラ・ビターズ</string>
			</array>
			<key>amounts</key>
			<array>
				<string>60ml</string>
				<string>1〜4ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、アンゴスチュラ・ビターズをシェークして、カクテル・グラス（容量75～90ml程度）に注げば完成。なお、ミキシング・グラスを使ってステアでも可である。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ピンク・レディー</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>グレナデン・シロップ</string>
				<string>卵白（鶏卵）</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>20ml</string>
				<string>1個分</string>
			</array>
			<key>processes</key>
			<array>
				<string>材料をシェイカーに入れる。きれいなピンク色になるよう、グレナデン・シロップの量は微調整。氷と共に強くシェイク(卵白があるので特に強くシェイクする)し、ソーサー型のシャンパン・グラス、またはカクテル・グラスに注ぐ</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>フランシス・アルバート</string>
			<key>matetrials</key>
			<array>
				<string>タンカレー・ドライ・ジン</string>
				<string>ワイルドターキー</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>45ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>タンカレー・ドライ・ジンとワイルドターキーをグラスに直接注ぎ、ステアする。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>プリンセス・メアリー</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>クレーム・ド・カカオ</string>
				<string>生クリーム</string>
			</array>
			<key>amounts</key>
			<array>
				<string>20ml</string>
				<string>20ml</string>
				<string>20ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>材料を氷と共に強くシェイクし、カクテル・グラスに注ぐ。好みに応じてナツメグをかける。 </string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ブロンクス</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ドライ・ベルモット</string>
				<string>スイート・ベルモット</string>
				<string>オレンジジュース</string>
			</array>
			<key>amounts</key>
			<array>
				<string>30ml</string>
				<string>10ml</string>
				<string>10ml</string>
				<string>10ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ドライ・ベルモット、スイート・ベルモット、オレンジ・ジュースをシェークし、大型のカクテル・グラス（容量90ml程度）に注げば完成.</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ベルベット・キス</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>生クリーム</string>
				<string>バナナ・リキュール</string>
				<string>パイナップルジュース</string>
				<string>グレナデン・シロップ</string>
			</array>
			<key>amounts</key>
			<array>
				<string>20ml</string>
				<string>20ml</string>
				<string>10ml</string>
				<string>10ml</string>
				<string>1ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、生クリーム、バナナ・リキュール、パイナップル・ジュース、グレナディン・シロップをシェークして、カクテル・グラス（容量75～90ml程度）に注ぐ。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ホワイト・カーゴ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>バニラアイスクリーム</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>50g</string>
			</array>
			<key>processes</key>
			<array>
				<string>氷を使わずにシェークし、カクテルグラスに注ぐ。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ホワイト・レディ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ホワイト・キュラソー</string>
				<string>レモンジュース</string>
			</array>
			<key>amounts</key>
			<array>
				<string>55ml</string>
				<string>27.5ml</string>
				<string>27.5ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ホワイト・キュラソー、レモン・ジュースをシェイクし、カクテル・グラス（容量75～90ml程度）に注ぐ。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ホワイト・ローズ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>マラスキーノ</string>
				<string>オレンジジュース</string>
				<string>レモンジュース</string>
				<string>卵白</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>15ml</string>
				<string>5ml</string>
				<string>5ml</string>
				<string>1/2個</string>
			</array>
			<key>processes</key>
			<array>
				<string>十分にシェークするし、ソーサー型シャンパングラスに注ぐ。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>マグノリア・ブロッサム</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>レモンジュース</string>
				<string>生クリーム</string>
				<string>グレナデン・シロップ</string>
			</array>
			<key>amounts</key>
			<array>
				<string>55ml</string>
				<string>27.5ml</string>
				<string>27.5ml</string>
				<string>1ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、レモン・ジュース、生クリーム、グレナディン・シロップをシェークして、カクテル・グラス（容量75～90ml程度）に注げば完成である。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>コンカ・ドロ</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>チェリー・ブランデー</string>
				<string>トリプル・セック</string>
				<string>マラスキーノ・リキュール</string>
				<string>オレンジの果皮</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>8ml</string>
				<string>8ml</string>
				<string>8ml</string>
				<string>香り付け用</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、チェリー・ブランデー、トリプル・セック、マラスキーノ・リキュールをシェークして、カクテル・グラス（容量75～90ml程度）に注ぎ、オレンジの果皮より精油を絞りかければ完成である。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>青い珊瑚礁</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>グリーン・ペパーミント・リキュール</string>
				<string>マラスキーノ・チェリー</string>
				<string>レモン</string>
			</array>
			<key>amounts</key>
			<array>
				<string>40ml</string>
				<string>20ml</string>
				<string>1個</string>
				<string>ハーフカットのものを用いる</string>
			</array>
			<key>processes</key>
			<array>
				<string>カクテル・グラスのエッジ（縁のこと）をレモンで軽く濡らす。</string>
				<string>材料をシェイクしグラスに注ぐ。</string>
				<string>チェリーをグラスの底へ沈める。</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>アカシア</string>
			<key>materials</key>
			<array>
				<string>ドライ・ジン</string>
				<string>ベネクティン</string>
				<string>キルシュワッサー</string>
			</array>
			<key>amounts</key>
			<array>
				<string>45ml</string>
				<string>15ml</string>
				<string>2ml</string>
			</array>
			<key>processes</key>
			<array>
				<string>ドライ・ジン、ベネディクティン、キルシュワッサーをシェークして、カクテル・グラス（容量75〜90ml程度）に注げば完成である。</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
